@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

:root {
    --blue: #2c292f;
    --secondaryBlue: #17161c;
    --primaryFont: 'Alkatra', cursive;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: white;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    border: 2px solid white;
    border-radius: 25px;
    background-color: var(--secondaryBlue)
}